<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)">

        <Directory Id="LOCALE_FOLDER_DE" Name="de" />

      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationStartMenuFolder" Name="WinJockey"/>
    </StandardDirectory>

  </Fragment>
</Wix>
